# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules

# IDEs and editors
*.launch
.settings/

# IDE - VSCode
.angular
.chrome

# misc
.eslintcache
.sass-cache
/connect.lock
/libpeerconnection.log
.pnpm-debug.log
npm-debug.log
pnpm-debug.log
lerna-debug.log
tsconfig.tsbuildinfo

# System Files
.DS_Store
Thumbs.db

# Distribution folder
dist
dist-demo
website

# Tests Report & Coverage
**/coverage
**/vitest-coverage
**/cypress-report
**/dist
**/*.tgz
test/cypress/screenshots/*.png

# Environment variables
.env