.env

# dependencies
/node_modules

# build
tsconfig.tsbuildinfo

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.chrome

# Tests, Report & Coverage
*.spec.ts
/test
**/docs
**/website
**/node_modules
**/coverage
**/vitest-coverage
**/*.tgz
**/junit.xml
**/test-report.xml
**/testresult.xml