{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy", "@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "options": {
        "printWidth": 160
      }
    }
  ]
}
