<div id="demo-container" class="container-fluid">
  <h2>
    Example 7: Header Button Plugin
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example07.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle">
    This example demonstrates using the <b>Slick.Plugins.HeaderButtons</b> plugin to easily add buttons to colum headers. These buttons can
    be specified directly in the column definition, and are very easy to configure and use. (<a
      href="https://ghiscoding.gitbook.io/angular-slickgrid/grid-functionalities/header-menu-and-header-buttons"
      target="_blank"
      >Wiki docs</a
    >)
    <ul>
      <li>Resize the 1st column to see all icon/command</li>
      <li>Mouse hover the 2nd column to see it's icon/command</li>
      <li>For all the other columns, click on top-right red circle icon to enable highlight of negative numbers.</li>
      <li>
        Use override callback functions to change the properties of show/hide, enable/disable the menu or certain item(s) from the list
      </li>
      <ol>
        <li>These callbacks are: "itemVisibilityOverride", "itemUsabilityOverride"</li>
        <li>for example the "Column E" does not show the header button via "itemVisibilityOverride"</li>
        <li>for example the "Column J" header button is displayed but it not usable via "itemUsabilityOverride"</li>
      </ol>
    </ul>
  </div>

  <h5>Grid 1</h5>
  <angular-slickgrid
    gridId="grid7-1"
    [columns]="columnDefinitions1"
    [options]="gridOptions1"
    [dataset]="dataset1"
    (onAngularGridCreated)="angularGrid1Ready($event.detail)"
  >
  </angular-slickgrid>

  <br />
  <h5>Grid 2 - <span class="subtitle">with both Header Buttons & Menus</span></h5>
  <angular-slickgrid
    gridId="grid7-2"
    [columns]="columnDefinitions2"
    [options]="gridOptions2"
    [dataset]="dataset2"
    (onAngularGridCreated)="angularGrid2Ready($event.detail)"
  >
  </angular-slickgrid>
</div>
