<div id="demo-container" class="container-fluid">
  <h2>
    Example 25: GraphQL Basic API without Pagination
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example25.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button class="ms-2 btn btn-outline-secondary btn-sm btn-icon" type="button" data-test="toggle-subtitle" (click)="toggleSubTitle()">
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
  </h2>

  <div class="subtitle row">
    <div class="col-12">
      Use basic GraphQL query with any external public APIs (<a
        href="https://ghiscoding.gitbook.io/angular-slickgrid/backend-services/graphql"
        target="_blank"
        >Wiki docs</a
      >).
      <ul>
        <li>
          This Examples uses a Public GraphQL API that you can find at this link
          <a href="https://countries.trevorblades.com/" target="_blank">https://countries.trevorblades.com/</a>
        </li>
        <li>Compare to the regular and default GraphQL implementation, you will find the following differences</li>
        <ul>
          <li>
            There are no Pagination and we only use GraphQL <b>once</b> to load the data, then we use the grid as a regular local in-memory
            grid
          </li>
          <li>
            We enabled the following 2 flags "useLocalFiltering" and "useLocalSorting" to use regular (in memory) DataView filtering/sorting
          </li>
        </ul>
        <li>
          NOTE - This Example calls multiple GraphQL queries, this is <b>ONLY</b> for demo purposes, you would typically only call 1 query
          (which is what GraphQL is good at)
        </li>
        <li>
          This example is mainly to demo the use of GraphqlService to build the query and retrieve the data but also to demo how to mix that
          with local (in-memory) Filtering/Sorting strategies
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div [class]="status.class" role="alert" data-test="status">
        <strong>Status: </strong> {{ status.text }}
        <span [hidden]="!processing">
          <i class="mdi mdi-sync mdi-spin-1s"></i>
        </span>
      </div>
    </div>
  </div>

  <angular-slickgrid gridId="grid25" [columns]="columnDefinitions" [options]="gridOptions" [dataset]="dataset"> </angular-slickgrid>
</div>
