<div id="demo-container" class="container-fluid">
  <h2>
    Example 20: Pinned Columns/Rows
    <button class="ms-2 btn btn-outline-secondary btn-sm btn-icon" type="button" data-test="toggle-subtitle" (click)="toggleSubTitle()">
      <span class="mdi mdi-information-outline"></span>
    </button>
  </h2>
  <div class="subtitle">
    This example demonstrates the use of Pinned (aka pinned) Columns and/or Rows (<a
      href="https://ghiscoding.gitbook.io/angular-slickgrid/grid-functionalities/pinning"
      target="_blank"
      >Wiki docs</a
    >)
  </div>
  <div class="row gx-2 mb-2 align-items-end">
    <div class="col-auto">
      <label>Pinned Rows: </label><input class="form-control" type="number" min="-1" [(ngModel)]="pinnedRowCount" />
    </div>
    <div class="col-auto"><button class="btn btn-outline-secondary btn-sm" (click)="changePinnedRowCount()">Set</button></div>
    <div class="col-auto">
      <label>Pinned Columns: </label><input class="form-control" type="number" min="-1" [(ngModel)]="pinnedColumnCount" />
    </div>
    <div class="col-auto"><button class="btn btn-outline-secondary btn-sm" (click)="changePinnedColumnCount()">Set</button></div>
    <div class="col-auto">
      <label>Pinned Right: </label
      ><input class="form-control pinned-right-column-count" type="number" min="0" [(ngModel)]="pinnedRightColumnCount" />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-outline-secondary btn-sm"
        (click)="setPinnedColumns(pinnedColumnCount, pinnedRightColumnCount)"
        data-test="set-pinned-right-column"
      >
        Set
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="setPinnedColumns(-1)" data-test="remove-pinned-column-button">
        Remove Pinned Columns
      </button>
      <button
        class="btn btn-outline-secondary btn-sm btn-icon mx-1"
        (click)="setPinnedColumns(2, pinnedRightColumnCount)"
        data-test="set-3pinned-columns"
      >
        Pin 3 Columns
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="toggleRightPinning()" data-test="toggle-pinned-right">
        Toggle Pinned Right
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="togglePinnedBottomRows()" data-test="toggle-pinned-bottom">
        Toggle Pinned Rows (top/bottom)
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="toggleSelectAllRow()" data-test="toggle-select-all-row">
        Toggle Select All
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="setLargePinnedColumns()" data-test="set-large-pinned-columns">
        Set Large Columns
      </button>
    </div>
  </div>
  <hr />
  <angular-slickgrid
    gridId="grid20"
    gridWidth="920"
    [columns]="columns"
    [options]="gridOptions"
    [dataset]="dataset"
    (onValidationError)="onValidationError($event.detail.eventData, $event.detail.args)"
    (onAngularGridCreated)="angularGridReady($event.detail)"
  ></angular-slickgrid>
</div>
