<div id="demo-container" class="container-fluid">
  <h2>
    Example 20: Pinned Columns/Rows
    <button class="ms-2 btn btn-outline-secondary btn-sm btn-icon" type="button" data-test="toggle-subtitle" (click)="toggleSubTitle()">
      <span class="mdi mdi-information-outline"></span>
    </button>
  </h2>
  <div class="subtitle">
    This example demonstrates the use of Pinned (aka pinned) Columns and/or Rows (<a
      href="https://ghiscoding.gitbook.io/angular-slickgrid/grid-functionalities/pinning"
      target="_blank"
      >Wiki docs</a
    >)
  </div>
  <div class="row gx-2 mb-2 align-items-end">
    <div class="col-auto">
      <label>Pinned Rows (top/bottom): </label>
      <select
        class="form-select form-select-sm d-inline-block w-auto pinned-top-row-count"
        [(ngModel)]="pinnedTopRowCount"
        (ngModelChange)="changePinnedRowCount($event, 'top')"
      >
        @for (count of [0, 1, 2, 3, 4, 5]; track count) {
          <option [ngValue]="count">{{ count }}</option>
        }
      </select>
      <select
        class="form-select form-select-sm d-inline-block w-auto pinned-bottom-row-count"
        [(ngModel)]="pinnedBottomRowCount"
        (ngModelChange)="changePinnedRowCount($event, 'bottom')"
      >
        @for (count of [0, 1, 2, 3, 4, 5]; track count) {
          <option [ngValue]="count">{{ count }}</option>
        }
      </select>
    </div>
    <div class="col-auto">
      <label>Pinned Columns (left/right): </label>
      <select
        class="form-select form-select-sm d-inline-block w-auto pinned-left-column-count"
        [(ngModel)]="pinnedColumnCount"
        (ngModelChange)="changePinnedColumnCount($event, 'left')"
      >
        <option [ngValue]="-1">None</option>
        @for (count of [0, 1, 2, 3, 4, 5]; track count) {
          <option [ngValue]="count">{{ count }}</option>
        }
      </select>
      <select
        class="form-select form-select-sm d-inline-block w-auto pinned-right-column-count"
        [(ngModel)]="pinnedRightColumnCount"
        (ngModelChange)="changePinnedColumnCount($event, 'right')"
      >
        @for (count of [0, 1, 2]; track count) {
          <option [ngValue]="count">{{ count }}</option>
        }
      </select>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="setPinnedColumns(-1)" data-test="remove-pinned-column-button">
        Remove Pinned Columns
      </button>
      <button
        class="btn btn-outline-secondary btn-sm btn-icon mx-1"
        (click)="setPinnedColumns(2, pinnedRightColumnCount)"
        data-test="set-3pinned-columns"
      >
        Pin 3 Columns
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="toggleRightPinning()" data-test="toggle-pinned-right">
        Toggle Pinned Right
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="toggleSelectAllRow()" data-test="toggle-select-all-row">
        Toggle Select All
      </button>
      <button class="btn btn-outline-secondary btn-sm btn-icon mx-1" (click)="setLargePinnedColumns()" data-test="set-large-pinned-columns">
        Set Large Columns
      </button>
    </div>
  </div>
  <hr />
  <angular-slickgrid
    gridId="grid20"
    gridWidth="920"
    [columns]="columns"
    [options]="gridOptions"
    [dataset]="dataset"
    (onValidationError)="onValidationError($event.detail.eventData, $event.detail.args)"
    (onAngularGridCreated)="angularGridReady($event.detail)"
  ></angular-slickgrid>
</div>
