<div class="container-fluid">
  <h2>
    Example 33: Regular & Custom Tooltips
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example33.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button class="ms-2 btn btn-outline-secondary btn-sm btn-icon" type="button" data-test="toggle-subtitle" (click)="toggleSubTitle()">
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
  </h2>

  <div class="subtitle">
    This demo shows how to create Regular & Custom Tooltips (<a
      href="https://ghiscoding.gitbook.io/angular-slickgrid/grid-functionalities/custom-tooltip-plugin"
      target="_blank"
      >Wiki docs</a
    >)
    <br />
    <ul class="small">
      <li>optionally parse regular [title] attributes and transform them into tooltips</li>
      <li>create your own Custom Tooltip via a Custom Formatter</li>
      <li>create an Async Custom Tooltip (Promise/Observable) to allowing fetching data from an API</li>
      <li>optionally add Custom Tooltip on Column Header & Column Header-Row (filters)</li>
    </ul>
  </div>

  <div class="row">
    <div class="col" style="margin-bottom: 20px">
      <label for="pinned-rows">Simulated Server Delay (ms): </label>
      <input type="number" id="server-delay" data-test="server-delay" style="width: 60px" [(ngModel)]="serverApiDelay" />
      <button
        class="ms-2 btn btn-outline-secondary btn-sm"
        data-test="filter-empty-desc"
        (click)="setFiltersDynamically('=')"
        title="Apply filter to show only empty descriptions"
      >
        <span class="mdi mdi-filter" title="icon tooltip for empty descriptions"></span>
        <span>Filters Empty Description</span>
      </button>
      <button
        class="ms-2 btn btn-outline-secondary btn-sm"
        data-test="filter-non-empty-desc"
        (click)="setFiltersDynamically('!=')"
        title="Apply filter to show only non-empty descriptions"
      >
        <span class="mdi mdi-filter" title="icon tooltip for non-empty descriptions"></span>
        <span>Filters Non-Empty Description</span>
      </button>
    </div>
    <div class="alert alert-info is-narrow col" [class]="!showLazyLoading() ? 'invisible' : ''" data-test="alert-lazy">
      Lazy loading collection...
    </div>
  </div>

  <angular-slickgrid
    gridId="grid33"
    [columns]="columnDefinitions"
    [options]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($event.detail)"
  >
  </angular-slickgrid>
</div>
