<div id="demo-container" class="container-fluid">
  <h2>
    Example 26: Use of Angular Components
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example26.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle">
    <h3>Filters, Editors, AsyncPostRender with Angular Components</h3>
    Grid with usage of Angular Components as Editor &amp; AsyncPostRender (similar to Formatter).
    <ul>
      <li>Support of Angular Component as Custom Editor (click on any "Assignee" name cell)</li>
      <ul>
        <li>
          That column uses <a href="https://github.com/ng-select/ng-select" target="_blank">ng-select</a> as a custom editor as an Angular
          Component
        </li>
        <li>
          Increased Grid Options "rowHeight" &amp; "headerRowHeight" to 45 so that the "ng-select" fits in the cell. Ideally it would be
          better to override the ng-select css styling to change it's max height
        </li>
      </ul>
      <li>Support of Angular Component as Custom Filter ("Assignee" columns), which also uses "ng-select"</li>
      <li>The 2nd "Assignee" column (showing in bold text) uses "asyncPostRender" with an Angular Component</li>
      <ul>
        <li>Why can't we use Angular Component as Customer Formatter and why do I see a slight delay in loading the data?</li>
        <li>
          It's totally normal since SlickGrid Formatters only accept strings (synchronously), so we cannot use that (Angular requires at
          least 1 full cycle to render the element), so we are left with SlickGrid "asyncPostRender" and it works but as the name suggest
          it's async users might see noticeable delay in loading the data
        </li>
      </ul>
      <li>
        The 2nd "Title" showing an interactive component, which is not destroyed after first rendering but stays active. Click on the button
        to see the title alerted
      </li>
    </ul>
  </div>

  <div class="col-sm-6">
    <label>autoEdit setting: </label>
    <span id="radioAutoEdit">
      <label class="radio-inline control-label" for="radioTrue">
        <input type="radio" name="inlineRadioOptions" id="radioTrue" checked [value]="isAutoEdit" (change)="setAutoEdit(true)" /> ON
        (single-click)
      </label>
      <label class="radio-inline control-label" for="radioFalse">
        <input type="radio" name="inlineRadioOptions" id="radioFalse" [value]="isAutoEdit" (change)="setAutoEdit(false)" /> OFF
        (double-click)
      </label>
    </span>
    <div class="row col-sm-12">
      <span>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="undo()">
          <i class="mdi mdi-undo"></i>
          Undo last edit(s)
        </button>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="angularGrid.filterService.clearFilters()">Clear Filters</button>
        <button class="btn btn-outline-secondary btn-sm btn-icon" (click)="angularGrid.sortService.clearSorting()">Clear Sorting</button>
        <label class="checkbox-inline control-label" for="autoCommitEdit">
          <input
            type="checkbox"
            id="autoCommitEdit"
            data-test="auto-commit"
            [checked]="gridOptions.autoCommitEdit"
            (click)="changeAutoCommit()"
          />
          Auto Commit Edit
        </label>
      </span>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="alert alert-info" *ngIf="updatedObject"><strong>Updated Item:</strong> {{ updatedObject | json }}</div>
    <div class="alert alert-warning" *ngIf="alertWarning"><strong>Updated Item:</strong> {{ alertWarning }}</div>
  </div>

  <div class="col-sm-12">
    <angular-slickgrid
      gridId="grid26"
      [columns]="columnDefinitions"
      [options]="gridOptions"
      [dataset]="dataset"
      (onAngularGridCreated)="angularGridReady($event.detail)"
      (onCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
      (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)"
      (onValidationError)="onCellValidationError($event.detail.eventData, $event.detail.args)"
    >
    </angular-slickgrid>
  </div>
</div>
