<div id="demo-container" class="container-fluid">
  <h2>
    Example 6: Grid connected to Backend Server with GraphQL
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/grid-graphql.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle">
    Sorting/Paging connected to a Backend GraphQL Service (<a
      href="https://ghiscoding.gitbook.io/angular-slickgrid/backend-services/graphql"
      target="_blank"
      >Wiki docs</a
    >).
    <br />
    <ul class="small">
      <li><span class="red">(*) NO DATA SHOWING</span> - just change Filters &amp; Pages and look at the "GraphQL Query" changing :)</li>
      <li>This example also demos the Grid State feature, open the console log to see the changes</li>
      <li>String column also support operator (>, >=, <, <=, <>, !=, =, ==, *)</li>
      <ul>
        <li>The (*) can be used as startsWith (ex.: "abc*" => startsWith "abc") / endsWith (ex.: "*xyz" => endsWith "xyz")</li>
        <li>The other operators can be used on column type number for example: ">=100" (bigger or equal than 100)</li>
      </ul>
      <li>
        You can also preload a grid with certain "presets" like Filters / Sorters / Pagination
        <a href="https://ghiscoding.gitbook.io/angular-slickgrid/grid-functionalities/grid-state-and-preset" target="_blank"
          >Wiki - Grid Preset</a
        >
      </li>
      <li>
        Also note that the column Name has a filter with a custom %% operator that behaves like an SQL LIKE operator supporting % wildcards.
      </li>
      <li>
        Depending on your configuration, your GraphQL Server might already support regex querying (e.g. Hasura
        <a href="https://hasura.io/docs/latest/queries/postgres/filters/text-search-operators/#_regex" target="_blank">_regex</a>) or you
        could add your own implementation (e.g. see this SO <a href="https://stackoverflow.com/a/37981802/1212166">Question</a>).
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div [class]="status.class" role="alert" data-test="status">
        <strong>Status: </strong> {{ status.text }}
        <span [hidden]="!processing">
          <i class="mdi mdi-sync mdi-spin-1s"></i>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-outline-secondary btn-sm btn-icon"
            data-test="clear-filters-sorting"
            (click)="clearAllFiltersAndSorts()"
            title="Clear all Filters & Sorts"
          >
            <i class="mdi mdi-filter-remove-outline"></i>
            Clear all Filter & Sorts
          </button>
          <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="set-dynamic-filter" (click)="setFiltersDynamically()">
            Set Filters Dynamically
          </button>
          <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="set-dynamic-sorting" (click)="setSortingDynamically()">
            Set Sorting Dynamically
          </button>
          <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="reset-presets" (click)="resetToOriginalPresets()">
            Reset Original Presets
          </button>
          <label for="serverdelay" class="ml-4">Server Delay: </label>
          <input
            id="serverdelay"
            type="number"
            data-test="server-delay"
            style="width: 55px"
            [(ngModel)]="serverWaitDelay"
            title="input a fake timer delay to simulate slow server response"
          />
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-12">
          <button class="btn btn-outline-secondary btn-sm btn-icon" data-test="language-button" (click)="switchLanguage()">
            <i class="mdi mdi-translate"></i>
            Switch Language
          </button>
          <strong>Locale:</strong>
          <span style="font-style: italic" data-test="selected-locale">
            {{ selectedLanguage + '.json' }}
          </span>
        </div>

        <span style="margin-left: 10px">
          <label class="radio-inline control-label" for="radioOffset">
            <input
              type="radio"
              name="inlineRadioOptions"
              data-test="offset"
              id="radioOffset"
              checked
              [value]="false"
              (change)="setIsWithCursor(false)"
            />
            Offset
          </label>
          <label class="radio-inline control-label" for="radioCursor">
            <input
              type="radio"
              name="inlineRadioOptions"
              data-test="cursor"
              id="radioCursor"
              [value]="true"
              (change)="setIsWithCursor(true)"
            />
            Cursor
          </label>
        </span>
      </div>
      <br />
      <div *ngIf="metrics" style="margin: 10px 0px">
        <b>Metrics:</b> {{ metrics.endTime | date: "yyyy-MM-dd hh:mm aaaaa'm'" }} | {{ metrics.executionTime }}ms |
        {{ metrics.totalItemCount }} items
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <label>Programmatically go to first/last page:</label>
          <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary btn-xs btn-icon px-2" data-test="goto-first-page" (click)="goToFirstPage()">
              <i class="mdi mdi-page-first"></i>
            </button>
            <button class="btn btn-outline-secondary btn-xs btn-icon px-2" data-test="goto-last-page" (click)="goToLastPage()">
              <i class="mdi mdi-page-last"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="alert alert-info" data-test="alert-graphql-query">
        <strong>GraphQL Query:</strong>
        <div [innerHTML]="graphqlQuery" data-test="graphql-query-result"></div>
      </div>
    </div>
  </div>

  <hr />
  <angular-slickgrid
    gridId="grid6"
    [columns]="columnDefinitions"
    [options]="gridOptions"
    [dataset]="dataset"
    (onAngularGridCreated)="angularGridReady($event.detail)"
    (onGridStateChanged)="gridStateChanged($event.detail)"
    (onBeforeGridDestroy)="saveCurrentGridState()"
  >
  </angular-slickgrid>
</div>
