/** override slick-cell to make it look like Excel sheet */
.demo49 {
  --slick-border-color: #d4d4d4;
  --slick-cell-odd-background-color: #fbfbfb;
  --slick-cell-border-left: 1px solid var(--slick-border-color);
  --slick-header-menu-display: none;
  --slick-header-column-height: 20px;
  --slick-grid-border-color: #d4d4d4;
  --slick-cell-selected-color: #d4ebfd;
  --slick-row-selected-color: #d4ebfd;
  --slick-text-editor-border: 0px;
  --slick-text-editor-focus-box-shadow: none;

  .slick-cell.copied {
    background: blue;
    background: rgba(0, 0, 255, 0.2);
    transition: 0.5s background;
  }
  .slick-dark-mode {
    --slick-border-color: #595959;
    --slick-cell-border-left: 1px solid #595959;
    --slick-grid-border-color: #434343;
    --slick-cell-selected-color: #434343;
    --slick-row-selected-color: #434343;
    --slick-cell-selected-editable-color: #333333;
  }
}
