<div id="demo-container" class="container-fluid">
  <h2>
    Example 57: RTL (Right-to-Left)
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example57.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle">Basic grid with RTL (Right-to-Left) enabled for RTL languages</div>

  <div dir="rtl">
    <angular-slickgrid gridId="grid57" [columns]="columns" [options]="gridOptions" [dataset]="dataset"></angular-slickgrid>
  </div>
</div>
