<div class="container-fluid">
  <h2>
    Example 52: Grid with SQL Backend Service
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/example52.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
    <button
      class="ms-2 btn btn-outline-secondary btn-sm btn-icon"
      type="button"
      data-test="toggle-subtitle"
      (click)="hideSubTitle = !hideSubTitle"
    >
      <span class="mdi mdi-information-outline" title="Toggle example sub-title details"></span>
    </button>
  </h2>
  <div class="subtitle" *ngIf="!hideSubTitle">
    <ul class="small">
      <li><span class="red">(*) NO DATA SHOWN</span> - just change Filters/Sorting/Pages and look at the "SQL Query" changing.</li>
      <li>This example uses the SQL Backend Service.</li>
      <li>You can also preload a grid with certain "presets" like Filters / Sorters / Pagination.</li>
      <li>String column also supports operators (>, >=, <, <=, <>, !=, =, ==, *).</li>
      <li>The (*) can be used as startsWith (ex.: "abc*" => startsWith "abc") / endsWith (ex.: "*xyz" => endsWith "xyz").</li>
      <li>The other operators can be used on column type number for example: ">=100" (bigger or equal than 100).</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div [class]="status().class" role="alert" data-test="status">
        <strong>Status: </strong> {{ status().text }}
        <span [hidden]="!processing()">
          <i class="mdi mdi-sync mdi-spin-1s"></i>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-outline-secondary btn-sm me-1" data-test="clear-filters-sorting" (click)="clearAllFiltersAndSorts()">
            <span class="mdi mdi-close"></span>
            <span>Clear all Filter & Sorts</span>
          </button>
          <button class="btn btn-outline-secondary btn-sm me-1" data-test="set-dynamic-filter" (click)="setFiltersDynamically()">
            Set Filters Dynamically
          </button>
          <button class="btn btn-outline-secondary btn-sm me-1" data-test="set-dynamic-sorting" (click)="setSortingDynamically()">
            Set Sorting Dynamically
          </button>
          <button class="btn btn-outline-secondary btn-sm me-1" data-test="reset-presets" (click)="resetToOriginalPresets()">
            Reset Original Presets
          </button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <label for="serverdelay" class="me-2">Server Delay: </label>
          <input
            id="serverdelay"
            type="number"
            data-test="server-delay"
            class="form-control form-control-sm d-inline-block w-auto"
            [(ngModel)]="serverWaitDelay"
            title="input a fake timer delay to simulate slow server response"
          />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <label>Programmatically go to first/last page:</label>
          <button class="btn btn-outline-secondary btn-sm me-1" data-test="goto-first-page" (click)="goToFirstPage()">
            <i class="mdi mdi-page-first"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm" data-test="goto-last-page" (click)="goToLastPage()">
            <i class="mdi mdi-page-last"></i>
          </button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="alert alert-info" data-test="alert-sql-query">
            <strong>SQL Query:</strong>
            <span data-test="sql-query-result">{{ sqlQuery }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <angular-slickgrid
        gridId="grid52"
        [columns]="columns"
        [options]="gridOptions"
        [dataset]="dataset"
        (onAngularGridCreated)="angularGrid = $event.detail"
      >
      </angular-slickgrid>
    </div>
  </div>
</div>
