<div id="demo-container" class="container-fluid">
  <h2>
    Example 18: Octopart Catalog Search - Remote Model Plugin
    <span class="float-end">
      <a
        style="font-size: 18px"
        target="_blank"
        href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/grid-remote.component.ts"
      >
        <span class="mdi mdi-link-variant"></span> code
      </a>
    </span>
  </h2>
  <div class="subtitle">
    This example demonstrates how to use "slick.remotemodel.js" or any Remote implementation through an external Remote Service
    <ul>
      <li>
        Your browser (Chrome) might block access to the Octopart query, if you get "block content" then just unblock it or try with
        different browser like Firefox or Edge
      </li>
      <li>If the demo throws some errors, try again later (there's a limit per day).</li>
      <li>
        Uses <a href="https://github.com/6pac/SlickGrid/blob/master/src/slick.remotemodel.ts" target="_blank">slick.remotemodel.js</a>
        which is hooked up to load search results from Octopart, but can easily be extended to support any JSONP-compatible backend that
        accepts paging parameters.
      </li>
      <li>
        This demo implements a custom DataView, however please note that you are on your own to implement all necessary DataView methods for
        Sorting, Filtering, etc...
      </li>
      <li>
        Soure code for this example is available
        <a
          href="https://github.com/ghiscoding/slickgrid-universal/blob/master/frameworks/angular-slickgrid/src/demos/examples/grid-remote.component.ts"
          target="_blank"
          >here</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-6" style="margin-bottom: 15px">
    <label>Octopart Catalog Search <small>(type a word then press ENTER)</small></label>
    <input type="text" class="form-control" [value]="search" (change)="searchChanged($event.target.value)" />
  </div>

  <div class="alert alert-danger col-md-7" role="alert">
    <strong>Note:</strong>
    this demo no longer displays any results because the WebAPI Key to connect and query the <b>Octopart Component Search</b> is no longer
    valid. However the concept remains valid, which is to use your own Custom DataView instead of the default SlickGrid DataView used by
    this library.
  </div>

  <div class="alert alert-warning col-md-6" role="alert" *ngIf="loading">
    <i class="mdi mdi-sync mdi-spin-1s"></i>
    <span>Loading...</span>
  </div>

  <angular-slickgrid
    gridId="grid18"
    [columns]="columnDefinitions"
    [options]="gridOptions"
    [dataset]="dataset"
    [customDataView]="customDataView"
    (onAngularGridCreated)="angularGridReady($event.detail)"
    (onViewportChanged)="onViewportChanged()"
    (onSort)="onSort($event.detail.eventData, $event.detail.args)"
  >
  </angular-slickgrid>
</div>
