// You can change the SVG color using their associated SASS $icon-color-mdi-XYZ
$icon-width-mdi-plus: 14px;
$icon-width-mdi-arrow-collapse: 14px;
$icon-width-mdi-arrow-expand: 14px;

@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';
