// You can change the SVG color using their associated SASS $icon-color-mdi-XYZ
$icon-width-mdi-plus: 14px;
$icon-width-mdi-arrow-collapse: 14px;
$icon-width-mdi-arrow-expand: 14px;
$icon-width-mdi-close-thick: 12px;
$icon-color-mdi-file-pdf-outline: #f14668;
$icon-color-mdi-file-music-outline: #3298dc;
$icon-color-mdi-file-excel-outline: #1E9F75;
$icon-color-mdi-folder: orange;
$icon-color-mdi-folder-open: orange;

@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';
