@use 'bulma/bulma';

[data-theme=light], .theme-light {
  --bulma-body-color: black;
  --bulma-body-background-color: white !important;
  .button {
    // --bulma-scheme-main-l: 99%;
    border-color: #acacac;
  }
}
[data-theme=dark], .theme-dark {
  --bulma-body-color: white;
  --bulma-body-background-color: #33393e !important;
  .button {
    border-color: #585858;
  }
}

html, body {
  --bulma-body-background-color: transparent !important;
  --bulma-control-height: 30px;
  --bulma-hr-background-color: #d8d8d8;
}
:root {
  --bulma-body-background-color: transparent;
  --bulma-body-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  --bulma-control-height: 30px;
  --bulma-radius-small: 6px;

  .title {
    --bulma-title-weight: 600;
    margin-bottom: 24px;
  }
  .button {
    --bulma-button-weight: 400;
    box-shadow: none;
    border-radius: 2px;
    height: 30px;
  }
  .navbar-item, .navbar-link {
    color: white;
  }
  .icon.sgi,
  .icon .sgi {
    height: 1em;
    width: 1em;
  }
}