@use 'bulma/bulma';

[data-theme=light],
.theme-light {
  --bulma-body-color: black;
}

html, body {
  --bulma-body-background-color: #fff !important;
  --bulma-control-height: 30px;
}
:root {
  --bulma-body-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  --bulma-control-height: 30px;

  .title {
    --bulma-title-weight: 600;
    margin-bottom: 24px;
  }
  .button {
    --bulma-button-weight: 400;
    box-shadow: none;
    border-radius: 2px;
    height: 30px;
  }
  .navbar-item, .navbar-link {
    color: white;
  }
}