/* make sure to add the @import the SlickGrid Material Theme AFTER the variables changes */
// @import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material-with-font.scss';
// @import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';

:root {
  body.material-theme {
    $slick-primary-color: #009530;
    --slick-primary-color: #009530;
    --slick-header-menu-display: inline-block;
    --slick-compound-filter-operator-select-border: 1px solid #00c840;
    --slick-row-mouse-hover-color: #ebfaef;
    --slick-row-selected-color: #d4f6d7;
    --slick-row-mouse-hover-box-shadow: none;
    --slick-cell-odd-background-color: #f5f5f5;
    --slick-cell-box-shadow: none;
    --slick-cell-active-box-shadow: inset 0 0 0 1px #aaaaaa;
    --slick-form-control-focus-border-color: #00c840;
    --slick-form-control-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(53, 121, 154, 0.3);
    --slick-editor-focus-border-color: #00b93c;
    --slick-editor-focus-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(#00a033, .3);
    --slick-multiselect-input-focus-border-color: #00c840;
    --slick-focus-color: #00c840;
    --slick-input-focus-border-color: #00c840;
    --slick-text-editor-focus-border-color: #00c840;
    --slick-slider-editor-focus-border-color: #00c840;
    --slick-input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(53, 121, 154, 0.3);
    --slick-multiselect-input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(53, 121, 154, 0.3);
    --slick-header-filter-row-border-bottom: 1px solid #d0d0d0;
    --slick-container-border-right: 1px solid #ccc;
    --slick-container-border-top: 1px solid #ccc;
    --slick-container-border-left: 1px solid #ccc;
    --slick-container-border-bottom: 1px solid #ccc;
    --slick-header-background-color: #fff;
    --slick-header-row-filter-padding: 8px 4px;
    --slick-header-text-color:  rgba(0, 0, 0, 0.87);
    --slick-sorting-header-color: rgba(0, 0, 0, 0.87);
    --slick-font-family: Roboto, "Helvetica Neue", sans-serif;
    --slick-font-size-base-value: 14;
    --slick-header-font-size: 12px;
    --slick-filled-filter-font-weight: normal;
    --slick-icon-sort-color: var(--slick-primary-color);
    --slick-icon-sort-asc: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path></svg>');
    --slick-icon-sort-desc: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z"></path></svg>');
    --slick-icon-sort-font-size: 18px;
    --slick-icon-sort-width: 18px;
    --slick-icon-sort-position-right: 14px;
    --slick-checkbox-selector-size: 22px;
    --slick-checkbox-selector-icon-width: 22px;
    --slick-checkbox-selector-checked-color: var(--slick-primary-color);
    --slick-checkbox-selector-color: var(--slick-primary-color);
    --slick-checkbox-selector-icon-border: none;
    --slick-checkbox-selector-icon-bg-color: transparent;
    --slick-checkbox-selector-icon-checked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"></path></svg>');
    --slick-checkbox-selector-icon-unchecked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path></svg>');
    --slick-icon-group-color: var(--slick-primary-color);
    --slick-icon-group-collapsed: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>');
    --slick-icon-group-expanded: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>');
    --slick-icon-group-width: 22px;

    --slick-slider-filter-thumb-border: 2px solid rgba(0, 149, 48, .68);
    --slick-slider-filter-thumb-active-bg-color: #fff;
    --slick-slider-filter-thumb-active-color: rgba(#02bf3e, .88);
    --slick-slider-filter-thumb-active-border: 2px solid #55B876;
    --slick-slider-filter-thumb-active-box-shadow: 0 0 0 2px rgba(#02bf3e, .15);
    --slick-header-resizable-hover-border-bottom: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-left: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-top: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-right: 2px solid #83d9a0;
    --slick-slider-filter-filled-track-color: #9ac49c;

    --ms-ok-button-text-color: #009530;
    --ms-select-all-text-color: #007c28;
    --slick-multiselect-icon-radio-border: none;
    --slick-multiselect-ok-button-text-color: #009530;
    --slick-multiselect-ok-button-text-hover-color: #00a736;
    --slick-multiselect-select-all-text-color: #007c28;
    --slick-column-picker-checkbox-icon-checked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3 1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7 0 1L9.8 19.6c-.2.3-.7.3-1 0z"></path></svg>');
    --slick-column-picker-checkbox-icon-unchecked: var(--slick-column-picker-checkbox-icon-checked);
    --slick-multiselect-icon-unchecked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"></path></svg>');
    --ms-checkbox-color: var(--slick-primary-color);
    --slick-multiselect-icon-color: var(--slick-primary-color);
    --slick-multiselect-icon-radio-checked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z"></path></svg>');
    --slick-multiselect-icon-radio-unchecked: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23009530" viewBox="0 0 24 24"><path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>');

    .color-primary {
      filter: url("data:image/svg+xml;utf8, <svg xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"recolor\" color-interpolation-filters=\"sRGB\"><feColorMatrix type=\"matrix\" values=\"0 0 0 0 0 0 0 0 0 0.5843137255 0 0 0 0 0.1882352941 0 0 0 1 0\"/></filter></svg>#recolor");
    }

    .slick-headerrow {
      input.search-filter.filled,
      .search-filter.filled input,
      .search-filter.filled input.date-picker,
      .search-filter.filled .input-group-addon.slider-value,
      .search-filter.filled .input-group-addon.slider-range-value,
      .search-filter.filled .input-group-addon select {
        color: #555;
        font-weight: normal;
        border: 1px solid #55B876;
        box-shadow: none;
      }
      .search-filter.filled .input-group-addon select {
        border-right: 0px;
        font-weight: bold;
      }
      .search-filter.filled .ms-choice {
        box-shadow: none;
        border: 1px solid #55B876;
        span {
          font-weight: normal;
          color: var(--slick-dark-text-color);
        }
      }
      .search-filter.filled .input-group-append {
        border-left: 0;
      }
    }

    .ms-dark-mode,
    .ms-drop.ms-dark-mode,
    .slick-dark-mode .ms-dark-mode,
    .slick-dark-mode {
      --slick-base-dark-menu-bg-color: #212121;
      --slick-primary-color: #66bb6a;
      --slick-button-primary-bg-color: var(--slick-primary-color);
      --slick-cell-box-shadow: none;
      --slick-column-picker-checkbox-color: #49a54e;
      --slick-compound-filter-text-color: #66bb6a;
      --slick-compound-filter-operator-select-border: 1px solid #66bb6a;
      --slick-header-filter-row-border-bottom: 1px solid #505050;
      --slick-container-border-right: 1px solid #505050;
      --slick-container-border-top: 1px solid #505050;
      --slick-container-border-left: 1px solid #505050;
      --slick-container-border-bottom: 1px solid #505050;
      --slick-pane-top-border-top: 1px solid #505050;
      --slick-filled-filter-color: #66bb6a;
      --slick-highlight-color: #49a54e;
      --slick-pagination-icon-color: #49a54e;
      --slick-checkbox-selector-checked-color: #66bb6a;
      --slick-row-mouse-hover-box-shadow: none;
      --slick-row-mouse-hover-color: #505050;
      --slick-row-selected-color: #474747;
      --slick-checkbox-selector-opacity: 1;
      --slick-checkbox-selector-icon-height: 22px;
      --slick-checkbox-selector-icon-bg-color: transparent;
      --slick-checkbox-selector-icon-border: none;
      --slick-multiselect-icon-radio-color:           var(--slick-primary-color);
      --ms-checkbox-color: var(--slick-primary-color);
      --ms-checkbox-hover-color: #{lighten(#49a54e, 13%)};
      --ms-ok-button-text-color: #66bb6a;
      --ms-ok-button-text-hover-color: #{lighten(#66bb6a, 5%)};
    }
  }
}
