@use 'sass:color';

// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material-with-font.scss';
// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';

:root {
  body.material-theme,
  body.material-theme .icon-checkbox-container {
    $dark-primary-color: #66bb6a;
    $primary-color: #009530;
    $slick-primary-color: #009530;
    --text-color-primary: #009530;
    --slick-primary-color: #009530;
    --slick-header-menu-display: inline-block;
    --slick-compound-filter-operator-select-border: 1px solid #00c840;
    --slick-row-mouse-hover-color: #ebfaef;
    --slick-row-selected-color: #d4f6d7;
    --slick-row-mouse-hover-box-shadow: none;
    --slick-cell-odd-background-color: #f5f5f5;
    --slick-cell-box-shadow: none;
    --slick-cell-active-box-shadow: inset 0 0 0 1px #aaaaaa;
    --slick-form-control-focus-border-color: #00c840;
    --slick-form-control-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(102, 187, 106, 0.3);
    --slick-editor-focus-border-color: #00b93c;
    --slick-editor-focus-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(#00a033, .3);
    --slick-multiselect-input-focus-border-color: #00c840;
    --slick-focus-color: #00c840;
    --slick-input-focus-border-color: #00c840;
    --slick-text-editor-focus-border-color: #00c840;
    --slick-slider-editor-focus-border-color: #00c840;
    --slick-slider-filter-focus-border-color: #00c840;
    --input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(102, 187, 106, 0.3);
    --slick-input-focus-box-shadow: #{0 0 6px rgba(102, 187, 106, 0.3)};
    --slick-multiselect-input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(102, 187, 106, 0.3);
    --slick-header-filter-row-border-bottom: 1px solid #d0d0d0;
    --slick-container-border-right: 1px solid #ccc;
    --slick-container-border-top: 1px solid #ccc;
    --slick-container-border-left: 1px solid #ccc;
    --slick-container-border-bottom: 1px solid #ccc;
    --slick-header-background-color: #fff;
    --slick-header-row-filter-padding: 8px 4px;
    --slick-header-text-color:  rgba(0, 0, 0, 0.87);
    --slick-sorting-header-color: rgba(0, 0, 0, 0.87);
    --slick-font-family: Roboto, "Helvetica Neue", sans-serif;
    --slick-font-size-base-value: 14;
    --slick-header-font-size: 12px;
    --slick-filled-filter-font-weight: normal;
    --slick-icon-sort-color: var(--slick-primary-color);
    --slick-column-picker-icon-color: #009530;
    --slick-compound-filter-text-color: #009530;
    --slick-checkbox-icon-color: var(--slick-primary-color);
    --slick-checkbox-icon-border: none;
    --slick-checkbox-icon-width: 22px;
    --slick-checkbox-icon-bg-color: transparent;
    --slick-checkbox-icon-container-bg-color: transparent;
    --slick-checkbox-icon-unchecked-color-visibility: visible;
    --slick-checkbox-icon-container-size: 1rem;
    --slick-checkbox-icon-font-size: 28px;
    --slick-checkbox-icon-container-size: 1.4rem;
    --slick-checkbox-opacity-hover: 0.9;
    --slick-checkbox-size: 22px;
    --slick-checkbox-unchecked-opacity: 1;
    --slick-icon-group-color: var(--slick-primary-color);
    --slick-draggable-group-toggle-all-icon-color: var(--slick-primary-color);
    --slick-pagination-icon-color: #009530;
    --slick-slider-filter-filled-track-color: #9ac49c;
    --slick-slider-filter-focus-box-shadow: var(--slick-input-focus-box-shadow);
    --slick-slider-filter-thumb-border: 2px solid rgba(0, 149, 48, .68);
    --slick-slider-filter-thumb-active-bg-color: #fff;
    --slick-slider-filter-thumb-active-color: rgba(#02bf3e, .88);
    --slick-slider-filter-thumb-active-border: 2px solid #55B876;
    --slick-slider-filter-thumb-active-box-shadow: 0 0 0 2px rgba(#02bf3e, .15);
    --slick-header-resizable-hover-border-bottom: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-left: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-top: 2px solid #83d9a0;
    --slick-header-resizable-hover-border-right: 2px solid #83d9a0;
    --slick-multiselect-icon-radio-border: none;
    --slick-multiselect-ok-button-text-color: #009530;
    --slick-multiselect-ok-button-text-hover-color: #{color.adjust(#009530, $lightness: -5%)};
    --slick-multiselect-select-all-text-color: #007c28;
    --slick-multiselect-icon-color: var(--slick-primary-color);
    --slick-multiselect-input-focus-border-color: #51d77c;
    --ms-ok-button-text-color: #009530;
    --ms-select-all-text-color: #007c28;
    --ms-checkbox-color: var(--slick-primary-color);
    --ms-choice-focus-box-shadow: 0 0 0 1.5px rgba(#66bb6a,.55);
    --ms-choice-focus-border-color: #86d56c;

    .icon-checkbox-container {
      --slick-checkbox-icon-container-bg-color: transparent;
      --slick-checkbox-unchecked-opacity: 0.9;
      .mdi-icon-check {
        --slick-checkbox-icon-checked-svg: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/%3E%3C/svg%3E') !important;
      }
      .mdi-icon-uncheck {
        --slick-checkbox-icon-unchecked-svg: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z"/%3E%3C/svg%3E') !important;
      }
    }

    .slick-headerrow {
      input.search-filter.filled,
      .search-filter.filled input,
      .search-filter.filled input.date-picker,
      .search-filter.filled .input-group-addon.slider-value,
      .search-filter.filled .input-group-addon.slider-range-value,
      .search-filter.filled .input-group-addon select {
        color: #555;
        font-weight: normal;
        border: 1px solid #55B876;
        box-shadow: none;
        &.focus, &:focus {
          box-shadow: var(--slick-input-focus-box-shadow);
        }
      }
      .search-filter.filled .input-group-addon select {
        border-right: 0px;
        font-weight: bold;
      }
      .search-filter.filled .ms-choice {
        box-shadow: var(--slick-multiselect-input-focus-box-shadow);
        border: 1px solid #55B876;
        span {
          font-weight: normal;
          color: var(--slick-dark-text-color);
        }
      }
      .search-filter.filled:not(.ms-parent-open) .ms-choice {
        box-shadow: none;
      }
      .search-filter.filled .input-group-append {
        border-left: 0;
      }
    }

    .ms-dark-mode,
    .ms-drop.ms-dark-mode,
    .slick-dark-mode .ms-dark-mode,
    .slick-dark-mode .slick-submenu,
    .slick-dark-mode .icon-checkbox-container,
    .ms-dark-mode .icon-checkbox-container,
    .slick-dark-mode {
      --slick-base-dark-menu-bg-color: #212121;
      --slick-primary-color: #66bb6a;
      --slick-button-primary-bg-color:#66bb6a;
      --slick-filled-filter-border: 1px solid #438446;
      --slick-form-control-focus-border-color: #438446;
      --slick-form-control-focus-box-shadow: #{0 0 0 2px rgba(#66bb6a, 0.25)};
      --slick-cell-active-box-shadow: #{inset 0 0 0 1px #aaaaaa};
      --slick-cell-box-shadow: none;
      --slick-checkbox-icon-color: #66bb6a;
      --slick-checkbox-icon-height: 22px;
      --slick-checkbox-icon-bg-color: transparent;
      --slick-checkbox-icon-border: none;
      --slick-column-picker-icon-color: #66bb6a;
      --slick-compound-filter-text-color: #66bb6a;
      --slick-compound-filter-operator-select-border: 1px solid #66bb6a;
      --slick-header-filter-row-border-bottom: 1px solid #505050;
      --slick-container-border-right: 1px solid #505050;
      --slick-container-border-top: 1px solid #505050;
      --slick-container-border-left: 1px solid #505050;
      --slick-container-border-bottom: 1px solid #505050;
      --slick-pane-top-border-top: 1px solid #505050;
      --slick-input-focus-box-shadow: #{0 0 0 2px rgba(#66bb6a, 0.25)};
      --slick-filled-filter-color: #66bb6a;
      --slick-filled-filter-box-shadow: #{inset 0 0 0 1px #47a04b};
      --slick-filled-filter-focus-box-shadow: #{inset 0 0 0 1px #47a04b, 0 0 0 1px rgba(#66bb6a, 0.25)};
      --slick-highlight-color: #49a54e;
      --slick-icon-sort-color: #66bb6a;
      --slick-grid-menu-icon-btn-color: #bbb;
      --slick-pagination-icon-color: #66bb6a;
      --slick-row-mouse-hover-box-shadow: none;
      --slick-row-mouse-hover-color: #505050;
      --slick-row-selected-color: #474747;
      --slick-menu-color: #ededed;
      --slick-menu-bg-color: #212121;
      --slick-menu-border: 1px solid #505050;
      --slick-menu-item-hover-color: #363b40;
      --slick-menu-item-hover-border: 1px solid #5a5a5a;
      --slick-submenu-box-shadow: none;
      --slick-multiselect-checkbox-color: #66bb6a;
      --slick-multiselect-checkbox-hover-color: #{color.adjust(#49a54e, $lightness: 13%)};
      --slick-multiselect-ok-button-text-color: #66bb6a;
      --slick-multiselect-ok-button-text-hover-color: #{color.adjust(#66bb6a, $lightness: 5%)};
      --ms-checkbox-color: #66bb6a;
      --ms-checkbox-hover-color: #{color.adjust(#49a54e, $lightness: 13%)};
      --ms-choice-focus-border-color: #66bb6a;
      --ms-choice-focus-box-shadow: 0 0 0 2px rgba(#66bb6a,.55);
      --ms-ok-button-text-color: #66bb6a;
      --ms-ok-button-text-hover-color: #{color.adjust(#66bb6a, $lightness: 5%)};

      .slick-headerrow {
        .search-filter.filled .input-group-addon.slider-value,
        .search-filter.filled .input-group-addon.slider-range-value,
        .search-filter.filled .input-group-addon select {
          color: var(--slick-filled-filter-color);
        }
        input.search-filter.filled,
        .search-filter.filled input,
        .search-filter.filled .date-picker input {
          color: var(--slick-text-color);
        }
      }
    }
  }

  body.material-theme .ms-dark-mode,
  body.material-theme .ms-drop.ms-dark-mode,
  body.material-theme .slick-dark-mode,
  body.material-theme .slick-dark-mode .ms-dark-mode,
  body.material-theme .slick-dark-mode .slick-submenu,
  body.material-theme .dark-mode .text-color-primary {
    --slick-primary-color: #66bb6a;
    --slick-menu-color: #ededed;
    --slick-menu-bg-color: #212121;
    --slick-menu-border: 1px solid #505050;
    --slick-menu-item-hover-color: #363b40;
    --slick-menu-item-hover-border: 1px solid #5a5a5a;
    --slick-submenu-box-shadow: none;
  }
}
