$link-color: #006DCC;

// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-material.scss';

/** or SalesForce Theme */
// @use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-salesforce.scss';
@use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-salesforce.scss' with (
  $slick-primary-color:           #006DCC,
  $slick-link-color:              $link-color,
  $slick-checkbox-opacity-hover:  0.35,
);

@use './bulma.scss';

:root {
  .ms-dark-mode,
  .ms-drop.ms-dark-mode,
  .slick-dark-mode .ms-dark-mode,
  .slick-dark-mode,
  .dark-mode .text-color-primary {
    --slick-primary-color: #66b8ff;
    --text-color-primary: #66b8ff;
  }
}

$navbar-height: 52px;
body {
  height: calc(100vh - $navbar-height);
}
[data-theme=light] {
  background-color: white;
}
[data-theme=dark] {
  background-color: #33393e;
}
.demo-container.container {
  padding: 15px 20px;
  margin-top: $navbar-height;
}
.demo-container {
  background-color: #fff;
  h3 {
    color: #333;
  }
  .subtitle {
    color: #727272;
  }
}
.demo-container.dark-mode {
  background-color: #33393e;
  color: #f0f0f0;
  h3 {
    color: #e4e4e4;
  }
  .subtitle {
    color: #cbcbcb;
  }
}

.fake-hyperlink {
    cursor: pointer;
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
}
.disabled {
    color: #ccc;
}

.github-button-container {
  position: relative;
  top: 18px;
  margin-left: 5px;
}
.faded {
  opacity: 0.7;
}
.faded:hover {
  opacity: 1;
}
.subtitle.code-link {
  float: right;
  margin-top: -15px;
}
.notification.is-narrow {
  padding: 0.75rem 1.0rem;
}
input.is-narrow {
  width: 55px;
}
.ml-8 {
  margin-left: 50px;
}
.float-right {
  float: right;
}
.action-btn {
  width: 35px;
  margin-top: -1px;
}
.d-inline-flex {
  display: inline-flex;
}
.align-items-center {
  align-items: center;
}
.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.9rem);
}
.gap-5px {
  gap: 5px;
}
.text-green {
  color: #009e00;
}
.text-violet {
  color: #659bff;
}
.text-bluenavy {
  color: #003597;
}
.text-red {
  color: red;
}
.flex {
  display: flex !important;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.italic {
  font-style: italic;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.example-details {
  font-size: 14px;
}