$button-border-color: #ababab !default;
$font-size-count: 50;
$margin-max-count: 50;
$padding-max-count: 30;

.pointer { cursor: pointer; }
.bold { font-weight: bold; }

.fake-hyperlink {
  cursor: pointer;
  color: $link-color;
  &:hover {
      text-decoration: underline;
  }
}

.button-style {
  cursor: pointer;
  background-color: white;
  border: 1px solid #{$button-border-color};
  border-radius: 2px;
  justify-content: center;
  text-align: center;
  &:hover {
    border-color: darken($button-border-color, 10%);
  }
}

.delete-icon {
  &:hover {
      color: #b14c4a;
  }
}
.edit-icon,
.info-icon {
  &:hover {
      color: rgb(0, 153, 255);
  }
}

// margin-0px up to margin-30px
@for $i from 0 through $margin-max-count {
  .margin-#{$i}px { margin: #{$i}px; }
}

// padding-0px up to padding-30px
@for $i from 0 through $padding-max-count {
  .padding-#{$i}px { padding: #{$i}px; }
}

// font-5px up to font-50px
@for $i from 5 through $font-size-count {
  .font-#{$i}px { font-size: #{$i}px; }
}

.margin-auto {
  margin: auto;
}

/* Text and Alignment Utilities */
.text-center { text-align: center; }
.text-left   { text-align: left;   }
.text-right  { text-align: right;  }
.text-lowercase { text-transform: lowercase;  }
.text-uppercase { text-transform: uppercase;  }
.text-underline { text-decoration: underline; }
.text-italic { font-style: italic; }

.vertical-align-bottom {
  display: inline-block;
  vertical-align: bottom;
}
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}
.vertical-align-top {
  display: inline-block;
  vertical-align: top;
}
