/* Flatpickr Dark Theme - only an extract to darken the picker by using .slick-dark-mode */
.flatpickr-calendar.slick-dark-mode {
  background-color: #212121;
  box-shadow: none;
  border: 0;

  &.arrowTop:before {
    border-bottom-color: #20222c;
  }
  &.arrowTop:after {
    border-bottom-color: #212121;
  }
  &.arrowBottom:before {
    border-top-color: #20222c;
  }
  &.arrowBottom:after {
    border-top-color: #212121;
  }

  .flatpickr-day {
    color: rgba(255, 255, 255, 0.95);
    &.today {
      border-color: #eee;
    }
  }
  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month {
    color: #fff;
    fill: #fff;
  }
  .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover,
  .flatpickr-day.prevMonthDay,
  .flatpickr-day.nextMonthDay,
  .flatpickr-day.notAllowed,
  .flatpickr-day.notAllowed.prevMonthDay,
  .flatpickr-day.notAllowed.nextMonthDay {
    color: rgba(255, 255, 255, 0.3);
  }
  .flatpickr-current-month input.cur-year,
  .flatpickr-current-month .flatpickr-monthDropdown-months {
    background: #212121;
    color: #fff;
  }
  .flatpickr-time .numInputWrapper span.arrowUp:after,
  .flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: #fff;
  }
  .flatpickr-time .numInputWrapper span.arrowDown:after,
  .flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: #fff;
  }
  .flatpickr-day.inRange,
  .flatpickr-day.prevMonthDay.inRange,
  .flatpickr-day.nextMonthDay.inRange,
  .flatpickr-day.today.inRange,
  .flatpickr-day.prevMonthDay.today.inRange,
  .flatpickr-day.nextMonthDay.today.inRange,
  .flatpickr-day:hover,
  .flatpickr-day.prevMonthDay:hover,
  .flatpickr-day.nextMonthDay:hover,
  .flatpickr-day:focus,
  .flatpickr-day.prevMonthDay:focus,
  .flatpickr-day.nextMonthDay:focus {
    background: rgb(100, 108, 140);
    border-color: rgb(100, 108, 140);
  }

  .flatpickr-day.selected {
    background: rgb(128, 203, 196);
    color: rgb(255, 255, 255);
    border-color: rgb(128, 203, 196);
  }
  &.hasTime .flatpickr-time {
    border-top: 1px solid #20222c;
  }
  .flatpickr-time .flatpickr-time-separator,
  .flatpickr-time .flatpickr-am-pm,
  .flatpickr-time input {
    color: #fff;
  }
  .numInputWrapper span {
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  .numInputWrapper:hover {
    background: rgba(192, 187, 167, 0.05);
  }
  .numInputWrapper:hover span {
    opacity: 1;
  }
  .numInputWrapper span:hover,
  .numInputWrapper:hover,
  .flatpickr-am-pm:hover,
  .flatpickr-time input:hover,
  .flatpickr-time .flatpickr-am-pm:hover,
  .flatpickr-time input:focus,
  .flatpickr-time .flatpickr-am-pm:focus,
  .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: rgba(192, 187, 167, 0.1);
  }
  .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: #2e2e2e;
  }
  span.flatpickr-weekday {
    color: #fff;
  }
}