/** internally SE material theme for work */
@import './flatpickr.min';
@import './multiple-select';
@import './roboto-font.scss';

$header-background-color:               #F3F3F3;
$header-border-bottom:                  1px solid #ccc;
$header-font-weight:                    500;
$header-filter-row-border-bottom:       1px solid #d0d0d0;
$slick-pane-top-border-top:             1px solid #d0d0d0;
$header-resizable-hover:                2px solid #1589ee;
$header-resizable-hover-opacity:        0.4;
$primary-color:                         #009530;
$row-mouse-hover-color:                 #ebfaef;
$row-selected-color:                    #d4f6d7; /*rgba(0, 149, 48, 0.2);*/

@import './slickgrid-theme-material.scss';

$link-color: #0099ff;

.cell-effort-driven {
  text-align: center;
}

.editable-field {
  background-color: #d5e8e9 !important;
}
.fake-hyperlink {
  cursor: pointer;
  color: $link-color;
  &:hover {
      text-decoration: underline;
  }
}

