/* Individual cell styles */
.percent-complete-bar,
.percent-complete-bar-with-text {
  display: inline-block;
  border-radius: 3px;
  background-color: transparent;
}

.percent-complete-bar {
  height: 6px;
}

.percent-complete-bar-with-text {
  height: 20px;
  line-height: 20px;
  min-width: 25px;
  text-align: center;
  top: 2px;
  color: #ffffff;
}

.tooltip-2cols-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  line-height: 20px;
}