/* pagination/pagination variables */
@import './variables';
@import './sass-utilities';

// ----------------------------------------------
// Slick Footer Component
// ----------------------------------------------

.slick-custom-footer {
  color: var(--slick-footer-text-color, $slick-footer-text-color);
  padding: var(--slick-footer-padding, $slick-footer-padding);
  background-color: var(--slick-footer-bg-color, $slick-footer-bg-color);
  font-size: var(--slick-footer-font-size, $slick-footer-font-size);
  font-style: var(--slick-footer-font-style, $slick-footer-font-style);
  font-weight: var(--slick-footer-font-weight, $slick-footer-font-weight);
  height: var(--slick-footer-height, $slick-footer-height);

  .left-footer {
    color: var(--slick-footer-left-text-color, $slick-footer-left-text-color);
    font-style: var(--slick-footer-left-font-style, $slick-footer-left-font-style);
    font-weight: var(--slick-footer-left-font-weight, $slick-footer-left-font-weight);
    text-align: var(--slick-footer-left-text-align, $slick-footer-left-text-align);
    padding: var(--slick-footer-left-padding, $slick-footer-left-padding);
    width: var(--slick-footer-left-width, $slick-footer-left-width);
    float: var(--slick-footer-left-float, $slick-footer-left-float);
  }

  .right-footer {
    color: var(--slick-footer-right-text-color, $slick-footer-right-text-color);
    font-style: var(--slick-footer-right-font-style, $slick-footer-right-font-style);
    font-weight: var(--slick-footer-right-font-weight, $slick-footer-right-font-weight);
    text-align: var(--slick-footer-right-text-align, $slick-footer-right-text-align);
    padding: var(--slick-footer-right-padding, $slick-footer-right-padding);
    width: var(--slick-footer-right-width, $slick-footer-right-width);
    float: var(--slick-footer-right-float, $slick-footer-right-float);
    &.metrics .separator {
      margin: var(--slick-footer-right-separator-margin, $slick-footer-right-separator-margin);
    }
  }
}


// ----------------------------------------------
// Slick Empty Data Warning Component
// ----------------------------------------------

.slick-empty-data-warning {
  position: relative;
  color: var(--slick-empty-data-warning-color, $slick-empty-data-warning-color);
  font-family: var(--slick-empty-data-warning-font-family, $slick-empty-data-warning-font-family);
  font-size: var(--slick-empty-data-warning-font-size, $slick-empty-data-warning-font-size);
  font-style: var(--slick-empty-data-warning-font-style, $slick-empty-data-warning-font-style);
  line-height: var(--slick-empty-data-warning-line-height, $slick-empty-data-warning-line-height);
  margin: var(--slick-empty-data-warning-margin, $slick-empty-data-warning-margin);
  padding: var(--slick-empty-data-warning-padding, $slick-empty-data-warning-padding);
  z-index: var(--slick-empty-data-warning-z-index, $slick-empty-data-warning-z-index);
}


// ----------------------------------------------
// Slick Pagination Component
// ----------------------------------------------

.slick-pagination {
  list-style-type: none;
  border-top: var(--slick-pagination-border-top, $slick-pagination-border-top);
  border-right: var(--slick-pagination-border-right, $slick-pagination-border-right);
  border-bottom: var(--slick-pagination-border-bottom, $slick-pagination-border-bottom);
  border-left: var(--slick-pagination-border-left, $slick-pagination-border-left);
  width: 100%;
  height: var(--slick-pagination-height, $slick-pagination-height);
  padding-top: 4px;
  vertical-align: middle;
  font-family: var(--slick-font-family, $slick-font-family);
  font-size: var(--slick-pagination-font-size, $slick-pagination-font-size);
  font-weight: 400;
  color: var(--slick-pagination-text-color, $slick-pagination-text-color);

  .slick-pagination-status {
    display: inline-block;
    padding: 6px;
  }

  .ui-icon-container {
    display: inline-block;
    border-color: var(--slick-pagination-border-color, $slick-pagination-border-color);
  }

  .slick-pagination-nav {
    display: inline-block;
    padding: 2px;
    height: 34px;

    nav {
      display: inline-block;
    }

    .slick-page-number {
      vertical-align: top;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      padding: 0 5px;
      height: inherit;

      input {
        background-color: var(--slick-pagination-page-input-bgcolor, $slick-pagination-page-input-bgcolor);
        height: var(--slick-pagination-page-input-height, $slick-pagination-page-input-height);
        width: var(--slick-pagination-page-input-width, $slick-pagination-page-input-width);
        padding: var(--slick-pagination-page-input-padding, $slick-pagination-page-input-padding);
        border-radius: var(--slick-pagination-page-input-border-radius, $slick-pagination-page-input-border-radius);
        display: inline-block;
      }
    }

    .pagination {
      margin: 0;
      display: inline-flex;
      background-color: var(--slick-pagination-button-bg-color, $slick-pagination-button-bg-color);

      .page-link {
        display: flex;
        align-items: center;
        font-size: var(--slick-pagination-icon-font-size, $slick-pagination-icon-font-size);
        border: var(--slick-pagination-button-border, $slick-pagination-button-border);
        height: var(--slick-pagination-button-height, $slick-pagination-button-height);
      }

      .page-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        padding: var(--slick-pagination-button-padding, $slick-pagination-button-padding);
        border-color: var(--slick-pagination-button-border-color, $slick-pagination-button-border-color);

        a[class*="icon-seek-"] {
            color: var(--slick-pagination-icon-color, $slick-pagination-icon-color);
        }
        &:hover {
          background-color: var(--slick-pagination-button-hover-color, $slick-pagination-button-hover-color);
        }

        &:first-child {
          border-top-left-radius: var(--slick-pagination-button-border-radius, $slick-pagination-button-border-radius);
          border-bottom-left-radius: var(--slick-pagination-button-border-radius, $slick-pagination-button-border-radius);
        }
        &:last-child {
          border-top-right-radius: var(--slick-pagination-button-border-radius, $slick-pagination-button-border-radius);
          border-bottom-right-radius: var(--slick-pagination-button-border-radius, $slick-pagination-button-border-radius);
        }

        // to make button borders overlap
        &.seek-prev, &.seek-end {
          margin-left: -1px;
        }

        a.icon-seek-first,
        a.icon-seek-prev,
        a.icon-seek-next,
        a.icon-seek-end {
          background-color: currentColor;
          height: var(--slick-pagination-icon-size, $slick-pagination-icon-size);
          width: var(--slick-pagination-icon-size, $slick-pagination-icon-size);
        }
        a.icon-seek-first {
          @include generateSvgStyle('slick-pagination-icon-seek-first-svg', $slick-pagination-icon-seek-first-svg-path);
        }
        a.icon-seek-prev {
          @include generateSvgStyle('slick-pagination-icon-seek-prev-svg', $slick-pagination-icon-seek-prev-svg-path);
          margin-left: -1px;
        }
        a.icon-seek-next {
          @include generateSvgStyle('slick-pagination-icon-seek-next-svg', $slick-pagination-icon-seek-next-svg-path);
        }
        a.icon-seek-end {
          @include generateSvgStyle('slick-pagination-icon-seek-end-svg', $slick-pagination-icon-seek-end-svg-path);
          margin-left: -1px;
        }

        &.disabled {
          cursor: not-allowed;
          color: var(--slick-pagination-icon-seek-color, $slick-pagination-icon-seek-disabled-color);
          background-color: var(--slick-pagination-icon-seek-background-color, $slick-pagination-icon-seek-disabled-bg-color);
          border-color: var(--slick-pagination-button-border-disabled-color, $slick-pagination-button-border-disabled-color);
        }
      }
    }
  }

  .slick-pagination-settings {
    display: block;
    float: right;
    padding: 2px;

    select {
      color: var(--slick-font-color, $slick-font-color);
      background-color: var(--slick-pagination-page-select-bg-color, $slick-pagination-page-select-bg-color);
      font-size: var(--slick-pagination-page-select-font-size, $slick-pagination-page-select-font-size);
      line-height: 1.5;
      height: var(--slick-pagination-page-select-height, $slick-pagination-page-select-height);
      width: var(--slick-pagination-page-select-width, $slick-pagination-page-select-width);
      padding: var(--slick-pagination-page-select-padding, $slick-pagination-page-select-padding);
      border: var(--slick-pagination-button-border, $slick-pagination-button-border);
      border-radius: var(--slick-pagination-page-select-border-radius, $slick-pagination-page-select-border-radius);
    }

    .slick-pagination-count {
      margin-left: var(--slick-pagination-count-margin-left, $slick-pagination-count-margin-left);
    }
  }
}
