$slick-icon-width-min-size: 5;
$slick-icon-width-max-size: 50;

@keyframes sg-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mdi {
  &.mdi-flip-h {
    transform: scaleX(-1);
  }
  &.mdi-flip-v {
    transform: scaleY(-1);
  }
  &.mdi-pulse {
    animation: sg-spin 1s infinite steps(8);
  }
  /* use mdi-spin or mdi-spin-1s to change the speed */
  &.mdi-spin,
  &.mdi-spin-1s,
  &.mdi-spin-2s,
  &.mdi-spin-3s,
  &.mdi-spin-4s,
  &.mdi-spin-5s {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
  &.mdi-spin {
    animation: sg-spin 2s infinite linear;
  }
  @for $i from 1 through 5 {
    &.mdi-spin-#{$i}s {
      animation: sg-spin #{$i}s infinite linear;
    }
  }
  &.mdi-rotate-45 {
    transform: rotate(45deg);
  }
  &.mdi-rotate-90 {
    transform: rotate(90deg);
  }
  &.mdi-rotate-135 {
    transform: rotate(135deg);
  }
  &.mdi-rotate-180 {
    transform: rotate(180deg);
  }
  &.mdi-rotate-225 {
    transform: rotate(225deg);
  }
  &.mdi-rotate-270 {
    transform: rotate(270deg);
  }
  &.mdi-rotate-315 {
    transform: rotate(315deg);
  }
}

// font-5px up to 50px / mdi-5px to 50px
// since SVG icons are now pure CSS, we can merge font-x with mdi-x
@for $i from $slick-icon-width-min-size through $slick-icon-width-max-size {
  .mdi.mdi-#{$i}px,
  .font-#{$i}px {
    font-size: #{$i}px !important;
  }
}
