$font-family:                           Roboto, "Helvetica Neue", sans-serif;
$font-size-base-value:                  14;
$icon-font-family:                      "Material Design Icons";
$icon-font-size:                        20px;
$group-totals-formatter-color:          #666666;
$cell-border-top:                       none;
$cell-font-weight:                      400;
$cell-padding-top-bottom:               8px;
$cell-padding-right-left:               7px;
$cell-odd-background-color:             #f5f5f5;
$cell-text-color:                       rgba(0, 0, 0, 0.87);
$header-row-filter-padding:             8px 4px;
$header-font-size:                      12px;
$header-font-weight:                    700;
$header-text-color:                     rgba(0, 0, 0, 0.87);
$header-border-bottom:                  transparent;
$header-filter-row-border-bottom:       1px solid #d0d0d0;
$header-resizable-hover:                2px solid lighten(#48c774, 15%);
$header-resizable-hover-border-bottom:  $header-resizable-hover;
$header-resizable-hover-border-left:    $header-resizable-hover;
$header-resizable-hover-border-right:   $header-resizable-hover;
$header-resizable-hover-border-top:     $header-resizable-hover;
$header-resizable-hover-width:          4px;
$header-resizable-hover-border-radius:  8px;
$header-resizable-hover-right:          0;
$header-resizable-hover-opacity:        0.4;
$slick-pane-top-border-top:             1px solid #d0d0d0;
$container-border-top:                  1px solid #ccc;
$container-border-bottom:               1px solid #ccc;
$container-border-left:                 1px solid #ccc;
$container-border-right:                1px solid #ccc;
$icon-sort-asc:                         "\F0360";
$icon-sort-desc:                        "\F035D";
$icon-sort-font-size:                   22px;
$icon-sort-position-right:              18px;
$checkbox-selector-size:                22px;
$checkbox-selector-icon-font-weight:    normal;
$checkbox-selector-icon-checked:        "\F0132";
$checkbox-selector-icon-unchecked:      "\F0131";
$checkbox-selector-opacity:             1;
$checkbox-selector-opacity-hover:       0.9;
$cell-menu-icon-margin-right:           6px;
$column-picker-checkbox-size:           18px;
$column-picker-checkbox-font-weight:    normal;
$column-picker-checkbox-icon-checked:   "\F012c";
$column-picker-checkbox-icon-unchecked: "\F012c";
$column-picker-checkbox-width:          18px;
$column-picker-title-font-size:         18px;
$context-menu-item-font-size:           16px;
$context-menu-icon-font-size:           16px;
$icon-group-collapsed:                  "\F0142";
$icon-group-expanded:                   "\F0140";
$icon-group-font-weight:                normal;
$icon-group-margin-right:               8px;
$draggable-group-drop-width:            100%;
$draggable-group-drop-radius:           0;
$draggable-group-toggle-collapsed-icon: "\F0142";
$draggable-group-toggle-expanded-icon:  "\F0140";
$draggable-group-title-height:          24px;
$draggable-group-title-line-height:     24px;
$draggable-group-title-vertical-align:  top;
$grid-menu-checkbox-size:               18px;
$grid-menu-checkbox-font-weight:        normal;
$grid-menu-checkbox-icon-checked:       "\F012c";
$grid-menu-checkbox-icon-unchecked:     "\F012c";
$grid-menu-checkbox-width:              18px;
$grid-menu-icon-font-size:              20px;
$grid-menu-icon-width:                  20px;
$grid-menu-icon-top-margin:             8px;
$grid-menu-title-font-size:             18px;
$header-menu-button-icon-font-size:     20px;
$header-menu-icon-font-size:            18px;
$header-menu-icon-width:                18px;
$header-menu-button-icon:               "\F0140";
$header-menu-button-margin-right:       6px;
$header-menu-display:                   inline-block;
$multiselect-icon-arrow-font-size:      $icon-font-size - 4px;
$multiselect-icon-checked:              "\F0132";
$multiselect-icon-unchecked:            "\F0131";
$multiselect-icon-radio-checked:        "\F043E";
$multiselect-icon-radio-unchecked:      "\F0130";
$multiselect-unchecked-opacity:         0.8;
$preheader-border-right:                1px solid #e2e2e2;
// $preheader-border-bottom:               1px solid #e2e2e2;
$row-move-plugin-cursor:                grab;
$row-move-plugin-icon:                  "\F0278";
$slider-editor-height:                  26px;
$primary-color:                         #009530;
$row-mouse-hover-color:                 #ebfaef;
$row-selected-color:                    #d4f6d7; /*rgba(0, 149, 48, 0.2);*/

@import './roboto-font';
@import './slick-default-theme';
@import './slick-without-bootstrap-min-styling';
@import './slick-grid';
@import './slick-controls';
@import './slick-editors';
@import './slick-plugins';
@import './slick-pagination';
@import './slick-footer';
@import './slickgrid-examples';
@import './slick-bootstrap';
@import './bootstrap-jquery-ui-autocomplete';

$link-color: $primary-color;
@import './extra-styling.scss';
