$font-family:                           Roboto, "Helvetica Neue", sans-serif;
$font-size-base-value:                  14;
$icon-font-family:                      "Material Design Icons";
$icon-font-size:                        20px;
$cell-border-top:                       none;
$header-background-color:               #F3F3F3;
$header-border-bottom:                  1px solid #ccc;
$header-font-size:                      12px;
$header-font-weight:                    500;
$header-text-color:                     rgba(0, 0, 0, 0.87);
$cell-text-color:                       rgba(0, 0, 0, 0.87);
$cell-font-weight:                      400;
$cell-odd-background-color:             #f5f5f5;
$container-border-top:                  1px solid #ccc;
$container-border-bottom:               1px solid #ccc;
$container-border-left:                 1px solid #ccc;
$container-border-right:                1px solid #ccc;
$icon-sort-asc:                         "\F360";
$icon-sort-desc:                        "\F35D";
$icon-sort-font-size:                   22px;
$icon-sort-position-right:              18px;
$checkbox-selector-size:                22px;
$checkbox-selector-icon-font-weight:    normal;
$checkbox-selector-icon-checked:        "\f132";
$checkbox-selector-icon-unchecked:      "\f131";
$checkbox-selector-opacity:             1;
$checkbox-selector-opacity-hover:       0.9;
$cell-menu-icon-margin-right:           6px;
$column-picker-checkbox-size:           18px;
$column-picker-checkbox-font-weight:    normal;
$column-picker-checkbox-icon-checked:   "\f12c";
$column-picker-checkbox-icon-unchecked: "\f12c";
$column-picker-checkbox-width:          18px;
$column-picker-title-font-size:         18px;
$context-menu-item-font-size:           16px;
$context-menu-icon-font-size:           16px;
$icon-group-collapsed:                  "\F142";
$icon-group-expanded:                   "\F140";
$icon-group-font-weight:                normal;
$icon-group-margin-right:               8px;
$draggable-group-toggle-collapsed-icon: "\F142";
$draggable-group-toggle-expanded-icon:  "\F140";
$draggable-group-title-height:          24px;
$draggable-group-title-line-height:     24px;
$draggable-group-title-vertical-align:  top;
$grid-menu-checkbox-size:               18px;
$grid-menu-checkbox-font-weight:        normal;
$grid-menu-checkbox-icon-checked:       "\f12c";
$grid-menu-checkbox-icon-unchecked:     "\f12c";
$grid-menu-checkbox-width:              18px;
$grid-menu-icon-font-size:              20px;
$grid-menu-icon-width:                  20px;
$grid-menu-title-font-size:             18px;
$header-menu-button-icon-font-size:     16px;
$header-menu-icon-font-size:            18px;
$header-menu-icon-width:                18px;
$header-menu-button-icon:               "\FB0B";
$multiselect-icon-arrow-down:           "\F35D";
$multiselect-icon-arrow-up:             "\F360";
$multiselect-icon-arrow-font-size:      $icon-font-size - 4px;
$multiselect-icon-checked:              "\F132";
$multiselect-icon-unchecked:            "\F131";
$multiselect-icon-radio-checked:        "\FAA4";
$multiselect-icon-radio-unchecked:      "\F130";
$multiselect-icon-search:               "\F349";
$multiselect-unchecked-opacity:         0.8;
$slider-editor-height:                  26px;
$primary-color:                         #009530;
$row-mouse-hover-color:                 #ebfaef;
$row-selected-color:                    #d4f6d7; /*rgba(0, 149, 48, 0.2);*/

@import './roboto-font.scss';
@import './slick-grid';
@import './slick-controls';
@import './slick-editors';
@import './slick-plugins';
@import './slick-default-theme';
@import './slick-pagination';
@import './slick-footer';
@import './slickgrid-examples';
@import './slick-bootstrap';
@import './slick-material';
@import './bootstrap-jquery-ui-autocomplete';
