@use './variables' as v;
@use './slick.layout' as sl;
@use './svg-utilities' as svg;

.slick-cell {
  input.dual-editor-text,
  input.editor-text {
    border: var(--slick-text-editor-border, v.$slick-text-editor-border);
    border-radius: var(--slick-text-editor-border-radius, v.$slick-text-editor-border-radius);
    background: var(--slick-text-editor-background, v.$slick-text-editor-background);
    color: var(--slick-text-editor-color, v.$slick-text-editor-color);
    padding-bottom: var(--slick-text-editor-padding-bottom, v.$slick-text-editor-padding-bottom);
    padding-left: var(--slick-text-editor-padding-left, v.$slick-text-editor-padding-left);
    padding-right: var(--slick-text-editor-padding-right, v.$slick-text-editor-padding-right);
    padding-top: var(--slick-text-editor-padding-top, v.$slick-text-editor-padding-top);
    margin-left: var(--slick-text-editor-margin-left, v.$slick-text-editor-margin-left);
    margin-bottom: var(--slick-text-editor-margin-bottom, v.$slick-text-editor-margin-bottom);
    margin-right: var(--slick-text-editor-margin-right, v.$slick-text-editor-margin-right);
    margin-top: var(--slick-text-editor-margin-top, v.$slick-text-editor-margin-top);
    outline: 0;
    height: 100%;
    max-width: 100%;

    &:not(.input-group-editor) {
      width: 100%;
    }
    &:focus {
      outline: 0;
      border-color: var(--slick-text-editor-focus-border-color, v.$slick-text-editor-focus-border-color);
      box-shadow: var(--slick-text-editor-focus-box-shadow, v.$slick-text-editor-focus-box-shadow);
    }

    &.right {
      margin-left: var(--slick-text-editor-right-input-margin-left, v.$slick-text-editor-right-input-margin-left);
    }

    &[readonly]:not(.date-picker) {
      background-color: var(--slick-text-editor-readonly-color, v.$slick-text-editor-readonly-color);
    }
    &.date-picker {
      cursor: pointer;
    }
  }

  .slider-editor {
    height: 100%;
    .slider-editor-input {
      margin: 0;
      height: var(--slick-slider-editor-height, v.$slick-slider-editor-height);
      &:focus {
        outline: 0;
        border-color: var(--slick-slider-editor-focus-border-color, v.$slick-slider-editor-focus-border-color);
        box-shadow: var(--slick-slider-editor-focus-box-shadow, v.$slick-slider-editor-focus-box-shadow);
      }
    }
  }

  .input-group {
    input.editor-text {
      margin-left: 0;
      transform: none;
    }
  }

  .ms-filter.select-editor {
    width: 100%;
    height: var(--slick-multiselect-editor-height, v.$slick-multiselect-editor-height);
    button.ms-choice {
      height: var(--slick-multiselect-editor-height, v.$slick-multiselect-editor-height);
    }
  }

  .autocomplete-container.input-group,
  .vanilla-picker.input-group {
    display: flex;
    align-items: center;
    flex: 1;
    height: var(--slick-date-editor-height, v.$slick-date-editor-height);
    .input-group-btn {
      &.input-group-append {
        display: inline-flex;
        align-items: center;
        height: 100%;

        .btn {
          display: inline-flex;
          align-items: center;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          margin-left: -1px;
        }
      }
      .btn {
        background-color: var(--slick-input-group-btn-bg-color, v.$slick-input-group-btn-bg-color);
        border: var(--slick-input-group-btn-border, v.$slick-input-group-btn-border);
        padding: var(--slick-editor-input-group-clear-btn-icon-padding, v.$slick-editor-input-group-clear-btn-icon-padding);
        border-top-right-radius: var(--slick-text-editor-border-radius, v.$slick-text-editor-border-radius);
        border-bottom-right-radius: var(--slick-text-editor-border-radius, v.$slick-text-editor-border-radius);
        cursor: pointer;
        height: var(--slick-date-editor-height, v.$slick-date-editor-height);
        &:hover:not([disabled]) {
          background-color: var(--slick-input-group-btn-hover-bg-color, v.$slick-input-group-btn-hover-bg-color);
        }
        .icon-clear {
          display: flex;
          align-items: center;
          @include svg.generateSvgStyle('slick-editor-input-group-clear-btn-icon-svg', v.$slick-editor-input-group-clear-btn-icon-svg-path);
        }
      }
    }
  }
}

/* Long Text Editor */
.slick-large-editor-text,
.slick-large-editor-text textarea {
  background: var(--slick-large-editor-background-color, v.$slick-large-editor-background-color);
  color: var(--slick-large-editor-text-color, v.$slick-large-editor-text-color);
}
.slick-large-editor-text {
  z-index: 10000;
  position: absolute;
  padding: var(--slick-large-editor-text-padding, v.$slick-large-editor-text-padding);
  border: var(--slick-large-editor-border, v.$slick-large-editor-border);
  border-radius: var(--slick-large-editor-border-radius, v.$slick-large-editor-border-radius);

  .editor-footer {
    text-align: var(--slick-large-editor-button-text-align, v.$slick-large-editor-button-text-align);
    button {
      margin-left: var(--slick-large-editor-footer-spacing, v.$slick-large-editor-footer-spacing);
      border-radius: var(--slick-large-editor-button-border-radius, v.$slick-large-editor-button-border-radius);
    }
  }

  textarea {
    border: 0;
    outline: 0;
  }

  .counter {
    float: left;
    font-size: var(--slick-large-editor-count-font-size, v.$slick-large-editor-count-font-size);
    margin-top: var(--slick-large-editor-count-margin-top, v.$slick-large-editor-count-margin-top);
    .separator {
      margin: var(--slick-large-editor-count-separator-margin, v.$slick-large-editor-count-separator-margin);
    }
  }
  &.disabled,
  &.disabled textarea {
    background-color: var(--slick-large-editor-disabled, v.$slick-large-editor-disabled);
  }
}
