$slick-icon-width-min-size: 8;
$slick-icon-width-max-size: 50;

@-webkit-keyframes sg-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes sg-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@mixin sg-icon-rotate($degrees, $rotation) {
  transform: rotate($degrees);
}

.sgi {
  &.sgi-flip-h {
    transform: scaleX(-1);
  }
  &.sgi-flip-v {
    transform: scaleY(-1);
  }
  &.sgi-pulse {
    animation: sg-spin 1s infinite steps(8);
  }
  /* use sgi-spin or sgi-spin-1s to change the speed */
  &.sgi-spin {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    animation: sg-spin 2s infinite linear;
  }
  @for $i from 1 through 5 {
    &.sgi-spin-#{$i}s {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      animation: sg-spin #{$i}s infinite linear;
    }
  }
  &.sgi-rotate-45  { @include sg-icon-rotate(45deg, 1);  }
  &.sgi-rotate-90  { @include sg-icon-rotate(90deg, 1);  }
  &.sgi-rotate-135 { @include sg-icon-rotate(135deg, 2); }
  &.sgi-rotate-180 { @include sg-icon-rotate(180deg, 2); }
  &.sgi-rotate-220 { @include sg-icon-rotate(220deg, 3); }
  &.sgi-rotate-270 { @include sg-icon-rotate(270deg, 3); }
  &.sgi-rotate-315 { @include sg-icon-rotate(315deg, 3); }
  &.sgi-rotate-45, .sgi-rotate-90, .sgi-rotate-135, .sgi-rotate-180, .sgi-rotate-220 .sgi-rotate-270, .sgi-rotate-315 {
    filter: none;
  }

  @for $i from $slick-icon-width-min-size through $slick-icon-width-max-size {
    &.sgi-#{$i}px {
      font-size: #{$i}px;
      height: #{$i}px;
        width: #{$i}px;
    }
  }
}
