/** Row Detail View styling, load after your SlickGrid theme to reuse its configured SASS variables. */
@use '@slickgrid-universal/common/dist/styles/sass/variables' as v;
@use '@slickgrid-universal/common/dist/styles/sass/svg-mixins' as svg;

// ---------------------------------------------------------
// Row Detail View Plugin
// ---------------------------------------------------------

.slick-row-detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: visible;
  pointer-events: none;
  z-index: 10;
}

.slick-row,
.slick-row-detail-overlay {
  .detail-view-toggle {
    display: inline-block;

    &.expand {
      @include svg.generateSvgStyle('slick-detail-view-icon-expand-svg', v.$slick-detail-view-icon-expand-svg-path);
    }
    &.collapse {
      @include svg.generateSvgStyle('slick-detail-view-icon-collapse-svg', v.$slick-detail-view-icon-collapse-svg-path);
    }
    &.expand,
    &.collapse {
      cursor: pointer;
      color: var(--slick-detail-view-icon-color, v.$slick-detail-view-icon-color);
      font-size: var(--slick-detail-view-icon-font-size, v.$slick-detail-view-icon-font-size);
      &:hover {
        color: var(--slick-detail-view-icon-color-hover, v.$slick-detail-view-icon-color-hover);
        opacity: var(--slick-detail-view-icon-opacity-hover, v.$slick-detail-view-icon-opacity-hover);
      }
    }
  }
}

.dynamic-cell-detail {
  position: absolute;
  width: 100%;
  overflow: auto;
  left: var(--slick-detail-view-container-left, v.$slick-detail-view-container-left);
  border: var(--slick-detail-view-container-border, v.$slick-detail-view-container-border);
  background-color: var(--slick-detail-view-container-bgcolor, v.$slick-detail-view-container-bgcolor);
  padding: var(--slick-detail-view-container-padding, v.$slick-detail-view-container-padding);
  z-index: var(--slick-detail-view-container-z-index, v.$slick-detail-view-container-z-index);
}

// Dark Mode
.slick-dark-mode {
  --slick-detail-view-icon-color: var(--slick-primary-color);
  --slick-detail-view-icon-color-hover: var(--slick-primary-color);
  --slick-detail-view-icon-opacity-hover: 0.75;
  --slick-detail-view-container-border: 1px solid #525252;
  --slick-detail-view-container-bgcolor: #3c4349;
}
