$control-height: 2.4em;
$slick-autocomplete-max-height: 250px;

@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-salesforce.scss';
@import 'bulma/bulma';

.unsaved-editable-field {
  background-color: #fbfdd1 !important;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-item-disabled {
  color: #afafaf;
  cursor: default;
}
