$control-height: 2.4em;

@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-salesforce.scss';
@import 'bulma/bulma';

/** use following styling of the Close icon or just use .icon-danger as defined in the example code */
// .slick-groupby-remove.mdi-close {
//   /** 1. use `filter` color */
//   // filter: invert(32%) sepia(96%) saturate(7466%) hue-rotate(356deg) brightness(97%) contrast(120%);

//   /** 2. or use the SASS @mixin that will produce the `filter` color */
//   @include recolor(#ff0000, 0.9); // convert red color into `filter` with opacity of 0.9
// }