.grid-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid #dae1e7;
  font-weight: bold;
  height: 35px;
  padding-left: 8px;
  width: 100%;
}

.recycle-bin {
  width: 120px;
  border: 2px solid #e4e4e4;
  background: beige;
  padding: 4px;
  font-size: 12pt;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 10px;
}