.grid23 {
  .slick-row:not(.slick-group) >.cell-unselectable {
    background: #ececec !important;
    font-weight: bold;
  }

  .header-centered {
    display: flex !important;
    justify-content: center;
  }
  .text-sub-total {
    font-style: italic;
    color: #215073;
  }
  .text-taxes {
    font-style: italic;
    color: #C65911;
  }
  .text-total {
    font-weight: bold;
    color: #005A9E;
  }
}