.grid21 {
  .slick-cell {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
  .preload {
    font-size: 18px;
  }
  .detail {
    display: flex;
    align-items: center;
    max-width: 450px;
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;

    label {
      font-weight: 600;
      font-size: 16px;
      margin-right: 10px;
      flex-grow: 1;
    }
    span {
      font-size: 15px;
    }
  }

  input.filter {
    border: 1px solid #dadada;
    border-radius: 2px;
  }
  input.filter::placeholder {
    opacity: 0.4;
  }
  .dynamic-cell-detail {
    // background-color: #f8f8f8;
  }
  .dynamic-cell-detail > :first-child {
    vertical-align:     middle;
    line-height:        13px;
    padding:            10px;
    margin-left:		20px;
  }
  .slick-headerrow-column {
    background: #f1f1f1;
    text-overflow: clip;
    box-sizing: border-box;
  }

  .slick-headerrow-column input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .options-panel {
    width: 375px;
  }
}

// .slick-dark-mode {
//   .dynamic-cell-detail {
//     background-color: #3c4349;
//   }
// }