.grid-header {
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #dae1e7;
  font-weight: bold;
  height: 35px;
  padding: 8px 6px 0 8px;
  width: 100%;
}

.recycle-bin {
  width: 120px;
  border: 1px solid gray;
  background: beige;
  padding: 4px;
  font-size: 12pt;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 10px;
}