.section-container {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  margin: 15px 0 5px 0;
  text-decoration: underline;
}
.text-utilities {
  div {
    border-right: 1px solid #bebebe;
  }
}
