name: pr-name-linter
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: pnpm install @commitlint/config-conventional@v17
    - uses: JulienKode/pull-request-name-linter-action@v0.5.0