name: Cypress Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - "**.md"
      - "!.github/workflows/ci.yml"

jobs:
  cypress:
    name: 'E2E Tests / NodeJS ${{ matrix.node }}'
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.event.head_commit.message, 'docs:') }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Use latest version of Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "*"

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: true

      - run: pnpm --version

      - name: TSC Build (esm)
        run: pnpm build:esm:styles

      - name: Website Dev Build (served for Cypress)
        run: pnpm build:dev

      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v5
        with:
          install: false
          # working-directory: packages/dnd
          start: pnpm serve:demo
          # start: pnpm serve:vite
          wait-on: 'http://localhost:8888'
          config-file: test/cypress.config.ts
          browser: chrome
          record: false
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          Cypress_extended: true

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: test/cypress/screenshots

      # deploy (re-publish) GitHub demo page with a Prod build but only when merging to "master" branch
      # and the commit message contains the text "chore(release)"
      - name: Website Prod Build (GitHub demo site)
        run: pnpm build:demo
        if: |
          github.ref == 'refs/heads/master' &&
          (contains(github.event.head_commit.message, 'chore(release)') || contains(github.event.head_commit.message, '[refresh gh-pages]'))

      - name: Deploy to gh-pages
        if: |
          github.ref == 'refs/heads/master' &&
          (contains(github.event.head_commit.message, 'chore(release)') || contains(github.event.head_commit.message, '[refresh gh-pages]'))
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
