# CI Build & Vitest Unit Tests (ship smaller name for CI badge)
name: Universal Build & Unit Tests
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch on Push and any branches on PR
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - '**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run:
    strategy:
      fail-fast: false
      matrix:
        node: [24]
        platform:
          - ubuntu-latest

    name: '${{matrix.platform}} / Node ${{ matrix.node }}'
    runs-on: ${{matrix.platform}}
    if: ${{ !startsWith(github.event.head_commit.message, 'docs:') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10
          run_install: false

      - name: Set NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - run: node --version
      - run: pnpm --version

      - name: Run pnpm install dependencies
        run: pnpm install

      - name: Build Slickgrid-Universal packages (excludes frameworks)
        run: pnpm build:universal

      - name: Run Vitest unit tests
        if: ${{ !contains(github.event.head_commit.message, 'chore(release)') }}
        run: pnpm test:coverage

      - name: Upload Vitest coverage to Codecov
        if: ${{ !contains(github.event.head_commit.message, 'chore(release)') }}
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: universal
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: test/vitest-coverage
          verbose: true

      - name: Retry Codecov upload when 1st try failed
        if: ${{ failure() && !contains(github.event.head_commit.message, 'chore(release)') }}
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: test/vitest-coverage
          verbose: true
