.grid46 {
  direction: rtl;
  --slick-header-menu-display: inline-block;

  .slick-resizable-handle {
    right: auto !important;
    left: 0 !important;
  }
}

.demo-container.grid46 {
  inset-inline-start: 50px;
}
