.grid45 {
  --slick-cell-border-left: 1px solid #dedede;
}

.grid45 .slickgrid-container .slick-cell.cell-wrap {
  font-size: 14px;
  line-height: 1.35;
  padding: 4px 6px;
  white-space: normal;
  text-overflow: clip;
  overflow: hidden;
  overflow-wrap: anywhere;
}
