.grid44 {
  --slick-cell-border-left: 1px solid #dedede;
}

.grid44 .slickgrid-container .slick-cell.cell-wrap {
  line-height: 1.25;
  padding: 4px 6px;
  white-space: normal;
  text-overflow: clip;
  overflow: hidden;
  overflow-wrap: anywhere;
}
