.section-container {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  margin: 15px 0 5px 0;
  text-decoration: underline;
}
.text-utilities {
  div {
    border-right: 1px solid #bebebe;
  }
}
.note-negative {
  margin-bottom: 15px;
  margin-top: -12px;
}
.bg-dark {
  background-color: #888888;
}
.bg-light {
  background-color: transparent;
}
.icon-box {
  display: flex;
  align-items: center;
}
.button-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mr-5px {
  margin-right: 5px;
}

.dark-mode {
  .bg-dark {
    background-color: transparent;
  }
  .bg-light {
    background-color: #888888;
  }
}
